[submodule "python-pandas"]
	path = 02_python-pandas
	url = git@github.com:Nishant-Mishra/pluralsight-python-pandas.git
[submodule "core-python"]
	path = 01_core-python
    url = git@github.com:Nishant-Mishra/pluralsight-core-python.git
    branch = master

